$vert-spacing: .15in;
$name-font: 'Taviraj', serif;
$primary-font: 'Baskerville', serif;

body {
  margin: auto;
  max-width: 7in;
  font-size: 11pt;
}

.personal-info {
	padding-bottom: $vert-spacing + .05in;
	text-align: center;

	.name {
		font-family: $name-font;
		font-variant: small-caps;
		font-size: xx-large;
	}

	hr {
		margin-top: 0;

		border: 0;
		height: 1;
		background-image: -webkit-linear-gradient(left, #FFFFFF, #000000, #000000, #000000, #000000, #FFFFFF);
		background-image: -moz-linear-gradient(left, #FFFFFF, #000000, #000000, #000000, #000000, #FFFFFF);
		background-image: -ms-linear-gradient(left, #FFFFFF, #000000, #000000, #000000, #000000, #FFFFFF);
		background-image: -o-linear-gradient(left, #FFFFFF, #000000, #000000, #000000, #000000, #FFFFFF);
		background-image: linear-gradient(left, #FFFFFF, #000000, #000000, #000000, #000000, #FFFFFF);
	}

	.address, .email, .phone {
		font-size: .9em;
	}
}

.education, .experience, .coursework, .skills, .awards {
  header {
    font-family: $primary-font;
    font-variant: small-caps;
    float: left;
  }

  .sub-section {
    padding-left: 1in;
    padding-bottom: $vert-spacing;

		.university, .company-name {
			padding-right: .5em;
			font-weight: bold;
			float: left;
		}

		.company-name {
			font-family: $primary-font;
		}

		.company-description {
			font-style: italic;
			float: left;
		}

		.major, .position {
			float: left;
			clear: left;
		}

		.location, .date {
			font-style: italic;
			text-align: right;
		}

    .title {
      font-weight: bold;
      float: none;
    }

    .description {
      font-style: italic;
    }

    .position {
      font-variant: small-caps;
    }

    ul {
      margin: 0;
			padding-left: 10px;
			list-style-position: inside;
    }

		.temp {
			li {
				display: inline;
				&:after {
					content: ", "
				}

				&:last-child:after {
					content: "";
				}
			}
		}

	}
}

.section {

  header, .title {
    font-family: $primary-font;
    font-variant: small-caps;
    float: left;
  }

  .sub-section {
    padding-left: 7em;
    padding-bottom: $vert-spacing;

		.university, .major {
			font-weight: bold;
			float: left;
		}

		.location, .date, .gpa {
			font-style: italic;
			text-align: right;
		}

    .title {
      font-weight: bold;
      float: none;
    }

    .description {
      font-style: italic;
    }

    .position {
      font-variant: small-caps;
    }

    ul {
      margin: 0;
    }

    .date, .place {
      float: right;
      font-style: italic;
    }
  }
}

.awards {
  .award {
    float: left;
		width: 10em;
  }

  .event {
		float: left;
  }
}
