body {
  margin: auto;
  max-width: 7in;
}

.header {
  padding-bottom: .2in;

  h1 {
    font-family: 'Trirong', serif;
    font-weight: lighter;
    font-variant: small-caps;
    margin: 0;
    text-align: center;
  }

  .contact {
    font-size: .9em;
  }
}

.category {
  .title {
    font-family: 'Baskerville', serif;
    font-weight: lighter;
    font-variant: small-caps;
    float: left;
  }

  .section {
    padding-left: 1.25in;
    padding-bottom: .2in;

    .title {
      font-weight: bold;
      float: none;
    }

    ul {
      margin: 0;
    }

    .date {
      float: right;
    }

    .place {
      float: right;
    }
  }
}
