body {
  font-family: "Baskerville", serif;
  margin: auto;
  max-width: 7in;
  font-size: 11pt; }

.personal-info {
  padding-bottom: 0.2in;
  text-align: center; }
  .personal-info .name {
    width: 100%;
    display: block;
    font-family: "Taviraj", serif;
    font-variant: small-caps;
    font-size: xx-large; }
  .personal-info hr {
    width: 100%;
    margin-top: 0;
    border: 0;
    height: 1;
    background-image: -webkit-linear-gradient(left, #FFFFFF, #000000, #000000, #000000, #000000, #FFFFFF);
    background-image: -moz-linear-gradient(left, #FFFFFF, #000000, #000000, #000000, #000000, #FFFFFF);
    background-image: -ms-linear-gradient(left, #FFFFFF, #000000, #000000, #000000, #000000, #FFFFFF);
    background-image: -o-linear-gradient(left, #FFFFFF, #000000, #000000, #000000, #000000, #FFFFFF);
    background-image: linear-gradient(left, #FFFFFF, #000000, #000000, #000000, #000000, #FFFFFF); }
  .personal-info .contact-info {
    font-size: .9em; }

.super-section header.super-section {
  font-family: "Baskerville", serif;
  font-variant: small-caps;
  float: left; }

section.section:not(.contact-info) {
  padding-left: 1in;
  padding-bottom: 0.15in; }
  section.section:not(.contact-info) header.section {
    position: relative;
    width: 100%; }
    section.section:not(.contact-info) header.section .name {
      font-family: "Baskerville", serif;
      font-weight: bold;
      padding-right: .3em; }
    section.section:not(.contact-info) header.section .description {
      font-family: "Times", serif;
      font-style: italic;
      font-size: .9em; }
    section.section:not(.contact-info) header.section .location {
      position: absolute;
      bottom: 0;
      right: 0;
      font-family: "Times", serif;
      font-style: italic;
      font-size: .9em; }

section.sub-section header.sub-section {
  position: relative; }
  section.sub-section header.sub-section .position, section.sub-section header.sub-section .major {
    font-variant: small-caps; }
  section.sub-section header.sub-section .date {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: "Times", serif;
    font-style: italic;
    font-size: .9em; }
section.sub-section ul {
  margin: 0;
  padding-left: 10px;
  list-style-position: inside; }
section.sub-section ul.classes {
  columns: 2; }
section.sub-section ul.languages li {
  display: inline; }
  section.sub-section ul.languages li:after {
    content: ", "; }
  section.sub-section ul.languages li:last-child:after {
    content: ""; }

/*
		.university, .company-name {
			padding-right: .5em;
			font-weight: bold;
			float: left;
		}

		.company-name {
			font-family: $primary-font;
		}

		.company-description {
			font-family: $secondary-font;
			font-style: italic;
			float: left;
			font-size: .9em;
		}

		.major {
			float: left;
			clear: left;
		}

		.location, .date {
			font-family: $secondary-font;
			font-style: italic;
			text-align: right;
		}

    .title {
      font-weight: bold;
      float: none;
    }

    .position {
      font-variant: small-caps;
    }

	}
}

.wrapper {
	position: relative;
}

.date {
	position: absolute;
	right: 0;
	bottom: 0;

	font-family: $secondary-font;
	font-style: italic;
	font-size: .9em;
}

section {

  .sub-section {
    padding-left: 1in;
    padding-bottom: $vert-spacing;

		.university, .company-name {
			padding-right: .5em;
			font-weight: bold;
			float: left;
		}

		.company-name {
			font-family: $primary-font;
		}

		.company-description {
			font-family: $secondary-font;
			font-style: italic;
			float: left;
			font-size: .9em;
		}

		.major {
			float: left;
			clear: left;
		}

		.location, .date {
			font-family: $secondary-font;
			font-style: italic;
			text-align: right;
		}

    .title {
      font-weight: bold;
      float: none;
    }


    ul {
      margin: 0;
			padding-left: 10px;
			list-style-position: inside;
    }

		.temp {
			li {
				display: inline;
				&:after {
					content: ", "
				}

				&:last-child:after {
					content: "";
				}
			}
		}

	}
}

.awards {
  .award {
    float: left;
		width: 10em;
  }

  .event {
		float: left;
  }
}

*/

/*# sourceMappingURL=resume.css.map */
