$vert-spacing: 1em;
$head-font: 'Taviraj', serif;
$secondary-font: 'Baskerville', serif;

body {
  margin: auto;
  max-width: 7in;
  font-size: 11pt;
}

.header {
  padding-bottom: $vert-spacing + 1em;
  text-align: center;

  h1 {
    font-family: $head-font;
    font-weight: lighter;
    font-variant: small-caps;
    margin: 0;
  }

  hr {
    margin-top: 0;
  }

  .contact {
    font-size: .9em;
  }
}

.category {
  .title {
    font-family: $secondary-font;
    font-variant: small-caps;
    float: left;
  }

  .section {
    padding-left: 7em;
    padding-bottom: $vert-spacing;

    .title {
      font-weight: bold;
      float: none;
    }

    .description {
      font-style: italic;
    }

    .position {
      font-variant: small-caps;
    }

    ul {
      margin: 0;
    }

    .date, .place {
      float: right;
      font-style: italic;
    }
  }
}

.awards {
  .award {
    float: left;
  }

  .event {
    padding-left: 10em;
  }
}
