body {
  margin: auto;
  max-width: 7in;
}

h1 {
  font-family: 'Trirong', serif;
  font-weight: lighter;
  font-variant: small-caps;
  margin: 0;
  text-align: center;
}

h2 {
  font-family: 'Baskerville', serif;
  font-weight: lighter;
  font-variant: small-caps;
  margin: 0;
  max-width: 2in;
  padding: 0;
  float: left;
}

h3 {
  margin: 0;
}

.section {
}
